@font-face {
  font-family: nimbus-sans;
  src: url(fonts/nimbus_sans.otf);
}

@font-face {
  font-family: "pixel-grid";
  src: url(fonts/Pixel_Grid.ttf);
}

@font-face {
  font-family: lordish;
  src: url(fonts/Lordish_Regular.ttf);
}

@font-face {
  font-family: "Highfield";
  src: url(fonts/Highfield_Thin.ttf);
}

* {
  font-family: nimbus-sans;
  margin: 0;
}

html {
  font-size: 14.4px;
  scroll-behavior: smooth;
}

body {
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}

section {
  height: 100vh;
  display: flex;
  scroll-snap-align: start;
  scroll-snap-stop: always;
}

.double {
  margin-top: 0.52%;
  margin-left: 1.25%;
  margin-right: 1.25%;
}

.double00 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: black;
  height: 45px;
  overflow: hidden;
  position: relative;
  gap: 20px;
}

.double00 p {
  font-family: pixel-grid;
  color: #ffffff;
  animation: scroll-text 10s linear infinite;
  white-space: nowrap;
}

@keyframes scroll-text {
  0% {
      transform: translateX(100%);
  }
  100% {
      transform: translateX(-100%);
  }
}

header > .container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border: 1.9px solid black;
  height: 65px;
  padding: 0 15px;
  position: fixed;
  top: 45px;
  left: 1.25%;
  right: 1.25%;
  background-color: white;
  z-index: 1000;
  transition: transform 0.3s ease;
}

.nav {
  display: flex;
  position: relative;
  padding-left: 72%;
}

.nav-elements {
  display: flex;
  gap: 15px;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-elements a {
  text-decoration: none;
  color: black;
}

#page-name {
  position: absolute;
  left: 0;
  font-size: 1.2rem;
  font-weight: bold;
}

#page-name span {
  font-family: nimbus-sans;
  background-color: black;
  color: white;
}

.sabout {
  position: relative;
  margin-left: 20px;
}

.sabout p {
  font-family: "IBM Plex Mono", monospace;
  font-size: 1.2rem;
  font-weight: 00;
  color: black;
  margin-right: 70%;
  text-align: justify;
  padding-top: 10px;
}

.sabout h1 {
  padding-top: 10%;
  font-size: 59px;
}

.sabout img {
  display: flex;
  position: absolute;
  width: 350px;
  height: 350px;
  justify-content: center;
  align-items: flex-start;
  top: 20%;
  left: 70%;
}

.bi {
  height: 20px;
  width: 20px;
}

.linkedin {
  display: inline-flex;
  color: black;
  margin-bottom: 10px;
  padding-top: 10px;
  margin-left: 10px;
}

.linkedin-button {
  margin-top: 30px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 5px 8px;
  background-color: white;
  border: 1px solid black;
  text-decoration: none;
  font-family: Arial, sans-serif;
  font-size: 16px;
  color: black;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  width: auto;
}

.linkedin-button:hover {
  background-color: #f3f3f3;
}

.cv {
  margin-top: 30px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 5px 8px;
  background-color: white;
  border: 1px solid black;
  text-decoration: none;
  font-family: Arial, sans-serif;
  font-size: 16px;
  color: black;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  width: auto;
  
}

.cvd {
  display: inline-flex;
  color: black;
  margin-bottom: 10px;
  padding-top: 10px;
  margin-right: 6px;
}

.cv:hover{
  background-color: #f3f3f3;
  transform: scale(1.1);
}

.linkedin-button,.cv svg {
  margin-right: 8px;
  width: auto;
}

.tech-stack {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 40px 20px;
  background-color: #ffffff;
  border: 1.9px solid black;
  margin-top: 150px;
  margin-bottom: 100px;
  margin-left: 19px;
  margin-right: 19px;
  padding-bottom: 40px;
}

.tech-stack-header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

.tech-stack h1 {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 20px;
  padding-right: 73%;
  font-family: "IBM Plex Mono", monospace;
}


.tech-stack-elements {
  display: flex;
  gap: 20px;
  justify-content: flex-end;
  align-items: flex-start;
  margin: 10px 0;
  padding: 0;
  list-style: none;
}

.tech-stack-elements a {
  background-color: white;
  text-decoration: none;
  color: #707071;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
}

.tech-stack-elements a:hover {
  color: black;
}

.tech-stack-elements a:focus {
  border-bottom: 1px solid black;
  color: black;
}

.stack-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
  gap: 20px;
}

.stack-section {
  display: none;
  flex-wrap: wrap;
  justify-content: start;
  gap: 50px;
  padding: 10px;
  padding-right: 550px;
  padding-top: 100px;
}

.stack-section.active {
  display: flex;
}

.tech-icon {
  width: 80px;
  height: 80px;
  object-fit: contain;
  border: 1.9px solid black;
  padding: 10px;
  background-color: #fff;
  transition: transform 0.3s ease;
}

.tech-icon:hover {
  transform: scale(1.1);
  background-color: #f3f3f3;

}

.info-box {
  position: relative;
  top: -114px;
  right: -10px;
  background-color: #fff;
  padding: 15px;
  width: 200px;
  font-family: Arial, sans-serif;
  z-index: 1000;
  margin-left: 1120px;
  margin-right: 100px;
  transition: opacity 0.3s ease, border 0.3s ease;
  opacity: 0;
  visibility: hidden;
  border: 1px solid transparent;
}

.info-box h3 {
  margin: 0;
  font-size: 24px;
  font-weight: 500;
  text-align: center;
  justify-items: center;
  font-family: "Highfield";
}

.info-box li {
  margin: 5px 0 0;
  font-size: 14px;
  font-family: "IBM Plex Mono", monospace;
}

.info-box.visible {
  opacity: 1;
  visibility: visible;
  border: 1px solid black;
}

.info-box ul {
  list-style-type: disc;
  margin-left: 20px;
}

.info-box ul li {
  padding: 5px 0;
}

.projects {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  padding: 20px;
  padding-top: 150px;
}

.projects h1 {
  color: rgb(0, 0, 0);
  font-size: 2.1rem;
  margin: 0;
  padding: 0 0 20px 19px;
  line-height: 1;
  white-space: nowrap;
}

.projects-elements {
  display: flex;
  gap: 15px;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
  padding-top: 45px;
}

.project {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 275px;
  height: 275px;
  background-color: rgb(255, 255, 255);
  border: 1.9px solid black;
  margin: 20px;
  padding: 20px;
  transition: transform 0.3s ease;
}

.project p {
  font-family: "IBM Plex Mono", monospace;
}



.contact {
  padding-top: 310px;
  padding-left: 90px;
  border-right-style: solid;
  margin-top: 90px;
  border-right-width: 6px;
  margin-bottom: 200px;
  padding-bottom: 350px;
  margin-right: 100px;
  padding-right: 100px;
}

.contact h1 {
  font-size: 30px;
  font-weight: bold;
  font-family: "IBM Plex Mono", monospace;
  padding-top: 40px;
}

.contact p {
  font-family: "IBM Plex Mono", monospace;
  font-size: 20px;
}

.contact-elements {
  display: flex;
  flex-direction: row;
  gap: 40px;
  padding-top: 419px;
  padding-bottom: 320px;
}

.contact-elements a {
  text-decoration: none;
  color: black;
  font-size: 20px;
}

.elem {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 5px 8px;
  background-color: white;
  border: 1px solid black;
  text-decoration: none;
  font-family: Arial, sans-serif;
  font-size: 16px;
  color: black;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  width: auto;
}

.button {
  margin-top: 30px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 5px 8px;
  background-color: white;
  border: 1px solid black;
  text-decoration: none;
  font-family: Arial, sans-serif;
  font-size: 16px;
  color: black;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  width: auto; 
  padding-top: 20px;
  padding-bottom: 20px;
}

.social {
  display: inline-flex;
  color: black;
  margin-bottom: 10px;
  padding-top: 10px;
  margin-left: 10px;
  padding-left: 10px;
}

.button:hover {
  background-color: #f3f3f3;
  transform: scale(1.1);
}